sublime/Package Control.ca-bundle
sublime/Package Control.ca-certs/
sublime/Package Control.ca-list
sublime/Package Control.cache/
sublime/Package Control.last-run
sublime/Package Control.merged-ca-bundle
sublime/Package Control.system-ca-bundle
sublime/Package Control.user-ca-bundle
sublime/bh_unicode_properties.cache
sublime/Color Highlight.cache
sublime/Color Highlighter/icons
sublime/GoSublime/linux-x64/bin/
sublime/GoSublime/linux-x64/log.txt