[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=terminator
Exec=terminator -Hf
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel

